@model HydroMajsterWebShopProject.Views.ViewModels.CategoriesAndProductWithQuantityViewModel
@{
    ViewData["Title"] = "Product";
}

<div class="container" style="font-family:Oxygen">

    <div class="row">

        <div class="col-lg-3 my-3" style="background-color: #58595B;">
            <img src="~/images/logo2.png" alt="logo" style="padding-top: 15px; padding-left: 30px; padding-bottom: 15px; width: 90%;">
            <div class="list-group">
                <div class="list-group rounded-0" style="background-color:#3A3C40; font-size:22px; text-align:center; color:white; margin-top:15px; margin-bottom:15px;">Kategorie</div>
                @foreach (var item in Model.Categories)
                {
                    <img class="card-img-top rounded-0" src="~/@item.PhotoUrl" alt="400x300px">
                    <a asp-action="Category" asp-controller="Products" asp-route-categoryId="@item.Id" class="list-group-item" style="text-align:center; background-color: #3A3C40; color:white;">@item.Name</a>
                    <a style="padding-top:15px;"></a>
                }
            </div>
            <div class="list-group rounded-0" style="background-color:#3A3C40; font-size:22px; text-align:center; color:white; margin-top:15px; margin-bottom:15px;">Reklamy</div>
            <img class="card-img-top rounded-0" src="~/images/reklamka.png" alt="400x300px" style="margin-bottom:15px;">

        </div>
        <!-- /.col-lg-3 -->

        <div class="col-lg-9">

            <div style="background-color: #58595B; padding:15px; color:white;" class="my-3">

                <div class="row">

                    <div class="col-lg-8"> <img src="~/@Model.Product.PhotoUrl" style="width:100%;" /> </div>

                    <div class="col-lg-4">
                        <div class="card rounded-0" style="background-color:#3A3C40; font-size:22px; text-align:center; color:white; margin-top:15px; margin-bottom:15px;"><h3>@Model.Product.Name</h3></div>

                        <h1 style="text-align:center">@Model.Product.Price zł</h1>

                        <div class="card rounded-0" style="background-color:#3A3C40; font-size:22px; text-align:center; color:white; margin-top:35px;">
                            <a class="nav-link" asp-action="Contact" asp-controller="Home">Kup teraz</a>
                        </div>

                    </div>
                </div>

            </div>

            <div style="background-color: #58595B; padding:15px; color:white;" class="my-3">

                <div class="list-group rounded-0" style="background-color:#3A3C40; font-size:22px; text-align:center; color:white; margin-top:15px; margin-bottom:15px;">Opis</div>

                <h1 style="text-align:center">@Model.Product.Description</h1>

            </div>

        </div>
        <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->
<!-- Footer -->
